.home-page {
  --background: #050124;
}

ion-content {
  --background: #050124;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.title {
  font-family: 'Century Gothic', sans-serif;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.logo-container {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.logo {
  max-width: 120px;
  height: auto;
}


.start-button {
  font-family: 'Century Gothic', sans-serif;
  --background: white;
  --color: black;
  --border-radius: 8px;
  --box-shadow: none;
  font-weight: bold;
  font-size: 1.2rem;
  width: 80%;
  max-width: 300px;
  height: 50px;
  text-transform: uppercase;
}

@media (max-width: 320px) {
  .logo {
    max-width: 150px;
  }
  
  .start-button {
    width: 90%;
    height: 40px;
  }
}

@media (min-width: 768px) {
  .logo {
    max-width: 250px;
  }
}